Package: actions-for-nautilus
Version: $VERSION
Maintainer: Martin Bartlett <martin.j.bartlett@gmail.com>
Architecture: all
Description: Nautilus extension for creating selection context menu entries
 Actions For Nautilus is an extension to the Gnome Nautilus file manager that
 allows you to create  context menu action items that execute arbitrary 
 commands when activated. The action items can be organized into submenus, 
 and they can be configured to appear only when the files in the selection
 match file type and/or mimetype rules, as well as based upon the number of 
 files in the selection.
 .
 This is intended to be a replacement for the Nautilus functionality of the 
 now-discontinued Filemanager Actions extension and supports most of the 
 features and semantics of that extension.
Depends: python3 (>= 3.10.0), python3-nautilus (>= 1.2.3), procps (>= 2:3), libjs-jquery (>=3.5.0)
Suggests: zenity (>= 3.0.0), xclip (>= 0.10-0), bash (>= 4.0)
Section: gnome
Priority: optional
Homepage: https://github.com/bassmanitram/actions-for-nautilus
